.hero-banner {
    background-color: var(--black);
    background-position: center;
    margin-top: 200px;
}

.hero-banner-content {
    margin-top: 150px;
}

.hero-banner-content a {
    color: var(--secondary);
}

.hero-banner-content a:hover {
    color: var(--primary);
}

.hero-banner pre {
    display: inline-block;
}

@media only screen and (min-width: 768px) {
  
    .hero-banner {
        margin-top: 0;
    }

    .hero-banner-content {
        margin-top: 5vh;
    }

}