.hero-banner {
    background-color: rgba(0, 0, 0, .67);
    background-image: url("../images/mars-4-3600px.jpg");
    background-blend-mode: color-burn;
    background-position: center;
    margin-top: 200px;
}

.hero-banner-content {
    margin-top: 10vh;
}

.flex picture {
    object-fit: cover;
    height: 100%;
}

@media only screen and (min-width: 768px) {
  
    .hero-banner {
        margin-top: 0;
    }

    .hero-banner-content {
        margin-top: 5vh;
    }

    .flex picture {
        aspect-ratio: 3 / 2;
    }
}